:root{
    --main-style-black : rgb(42, 45, 67);
    --main-style-dark : rgb(83, 85, 116);
    --main-style-blue : rgb(127, 73, 196);
    --main-style-dark-blue : rgb(69, 37, 107);
    --main-style-pink : rgb(255, 132, 232);
    --main-style-light-pink : rgb(255, 169, 231);
}

@font-face {
    font-family: "Workbench", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "BLED" 0,
            "SCAN" -14;
}

@keyframes textFlicker {
    from{
        text-shadow: 3px 0 0 var(--main-style-light-pink);
    }
    to{
        text-shadow: 2px 1px 2px var(--main-style-light-pink);
    }
}

@keyframes interactiveFlicker {
    from{
        text-shadow: 3px 0 0 var(--main-style-light-pink);
    }
    to{
        text-shadow: 2px 1px 2px var(--main-style-light-pink);
        /*filter: blur(1px);*/
    }
}

@keyframes inverseInteractiveFlicker {
    from{
        text-shadow: 3px 0 0 var(--main-style-dark);
    }
    to{
        text-shadow: 2px 1px 2px var(--main-style-dark-blue);
        /*filter: blur(1px);*/
    }
}

h2{
    color: rgb(255, 132, 232);
    font-size: 56px;
    letter-spacing: 2px;
}

header {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    outline: solid var(--main-style-blue);
    height: 75px;
    background-color: var(--main-style-dark);
    align-content: center;
    justify-content: center;
}

html{
    font-family: "Workbench", sans-serif;

}

.header-context{
    border-left: dashed;
    border-right: dashed;
    font-family: "Workbench", sans-serif;
    color: var(--main-style-pink);
}

a {
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    border-right: dashed;
    border-left: dashed;
    border-bottom: none;
    border-top: none;
    align-content: center;
    padding: 10px;
    background-color: var(--main-style-dark);
    outline-color: var(--main-style-blue);
    font-family: "Workbench", sans-serif;
    font-size: 200%;
    color: var(--main-style-pink);

    animation-duration: 0.01s;
    animation-name: interactiveFlicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

a:hover{
    background-color: var(--main-style-light-pink);
    outline-color: var(--main-style-pink);
    font-family: "Workbench", sans-serif;
    font-size: 200%;
    color: var(--main-style-dark);

    animation-duration: 0.01s;
    animation-name: inverseInteractiveFlicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

footer {
    font-size: 75%;
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    left: 0;
    outline: solid var(--main-style-blue);
    height: 75px;
    background-color: var(--main-style-dark);
    padding: 0 0 0;
    align-content: center;
    justify-content: center;
}

.footer-context{
    text-align: center;
    font-family: "Workbench", sans-serif;
    color: var(--main-style-pink);
    justify-content: center;
    align-content: center;
}

button{
    margin: 10px;
    border-right: dashed;
    border-left: dashed;
    border-bottom: none;
    border-top: none;
    background-color: var(--main-style-black);
    outline-color: var(--main-style-blue);
    font-family: "Workbench", sans-serif;
    font-size: 200%;
    color: var(--main-style-pink);

    animation-duration: 0.01s;
    animation-name: interactiveFlicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

button:hover{
    border-right: dashed;
    border-left: dashed;
    border-bottom: none;
    border-top: none;
    background-color: var(--main-style-light-pink);
    outline-color: var(--main-style-pink);
    font-family: "Workbench", sans-serif;
    font-size: 200%;
    color: var(--main-style-dark);
    animation-duration: 0.01s;
    animation-name: inverseInteractiveFlicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.inBody-button{
    border-right: dashed;
    border-left: dashed;
    border-bottom: none;
    border-top: none;
    background-color: var(--main-style-black);
    outline-color: var(--main-style-blue);
    font-family: "Workbench", sans-serif;
    font-size: 200%;
    color: var(--main-style-pink);

    animation-duration: 0.01s;
    animation-name: interactiveFlicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.inBody-button:hover{
    border-right: dashed;
    border-left: dashed;
    border-bottom: none;
    border-top: none;
    background-color: var(--main-style-light-pink);
    outline-color: var(--main-style-pink);
    font-family: "Workbench", sans-serif;
    font-size: 200%;
    color: var(--main-style-dark);

    animation-duration: 0.01s;
    animation-name: inverseInteractiveFlicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 5px;
    background: var(--main-style-blue);
    outline: none;
    border: 7px rgb(255, 132, 232);
    border-radius: 0;
}

.showRanCol{
    color: var(--main-style-pink);
    font-size: 200%;

    animation-duration: 0.01s;
    animation-name: textFlicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* for chrome/safari */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 30px;
    background:var(--main-style-pink);
    cursor: pointer;
    border: 5px var(--main-style-pink);
    border-radius: 0;
}

/* for firefox */
.slider::-moz-range-thumb {
    width: 10px;
    height: 5px;
    background: var(--main-style-light-pink);
    cursor: pointer;
    border: 5px var(--main-style-light-pink);
}



body{
    background-color: var(--main-style-black);
    overflow: hidden;
    display: grid;
}

canvas{

    margin-top: 10px;
    background-color: var(--main-style-black);
    border: dashed var(--main-style-blue);

    animation-duration: 0.01s;
    animation-name: interactiveFlicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.tool-buttons-canvas{
    float: left;
    padding: 10px;
    display: inline-grid;
    grid-template-rows: 2fr;
    align-content: center;
    justify-content: center;
}

.tool-buttons{
    padding-left: 0;
    align-content: center;
}

.canvas-panel{
    margin: 1px;
    padding: 8px;
    align-content: center;
    justify-content: center;
    display: flex;
}

.inBudy-simpleContent{
    font-family: "Workbench", sans-serif;
    color: var(--main-style-pink);
    animation-duration: 0.01s;
/*    animation-name: textFlicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/
}