#treeContainer{
    color: var(--main-style-pink);
    justify-content: center;

}

.tree {
    justify-content: space-around;

}

.tree ul {
    padding-top: 20px;
    position: relative;

    display: flex;
    justify-content: center;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    white-space: nowrap;
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}


.tree li::before, .tree li::after{
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 3px solid var(--main-style-blue);
    width: 50%;
    height: 20px;
}
.tree li::after{
    right: auto;
    left: 50%;
    border-left: 3px dashed var(--main-style-blue);
}

.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

.tree li:only-child{
    padding-top: 0;
}

.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
.tree li:last-child::before{
    border-right: 3px dashed var(--main-style-blue);
}

.tree ul ul::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 3px dashed var(--main-style-blue);
    width: 0;
    height: 20px;
}

.tree li a {
    background-color: var(--main-style-black);
    margin: 0;
    border: none;
    border-left: 3px dashed var(--main-style-blue);
    border-right: 3px dashed var(--main-style-blue);
    padding: 5px 10px;
    text-decoration: none;
    color: var(--main-style-pink);
    font-size: 3vh;
    display: inline-block;
    z-index: 100;
}

.tree li a:hover, .tree li a:hover+ul li a {
    border: none;
    border-left: 3px dashed var(--main-style-light-pink);
    border-right: 3px dashed var(--main-style-light-pink);
}

.tree li a:hover+ul,
.tree li a:hover+ul,
.tree li a:hover+,
.tree li a:hover+ul{
    border: none;
    border-left: 3px dashed var(--main-style-blue);
    border-right: 3px dashed var(--main-style-blue);
}

.tree li::after{
    color: var(--main-style-light-pink);
}